* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* start header section */
.header_section {
    width: 100%;
    height: 730px;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    nav{
        a{
            text-decoration: none;
        }
    }
}

.area {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
}
.top_left {
    display: flex;
    justify-content: space-between;
   #a{
    text-decoration: none;
   }
}

#a {
    display: flex;
    padding: 15px;
    margin-top: 10px;
}

#i {
    height: 15px;
    width: 15px;
    padding: 8px;
    background-color: #159ec0;
    color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.social {
    padding: 15px;
    margin-top: 10px;
}

#font_h5 {
    color: white;
    font-size: 25px;
}

hr {
    background-color: white;
    width: 100%;
}

.nav_1 {
    margin-top: 110px;
}

.nav_item {
    display: flex;
    justify-content: space-between;
}

.nav_link a {
    color: white;
    margin-top: 5px;
    font-size: 30px;
}

.nav_link1 a {
    position: relative;
    margin-left: 35px;
    font-family: sans-serif;
    color: #909090;
    transition: .4s;
}

.nav_link1 a::before {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #367cff;
    bottom: -5px;
    transition: .4s;
}

.nav_link1 a:hover {
    color: white;
}

.nav_link1 a:hover::before {
    width: 100%;
}

.ip {
    position: relative;
    top: 105px;
    left: 85%;
    color: #909090;
    display: none;
}

.ip:hover {
    color: white;
}

.nav_link a {
    color: #909090;
}

.nav_link a:hover {
    color: white;
}       

@media (max-width:990px) {
    #font_h5 {
        font-size: 20px;
    }
}

@media (max-width:869px) {
    #font_h5 {
        display: none;
    }
}

@media (max-width:770px) {
    #a5 {
        display: none;

    }
}

@media (max-width:750px) {
    .ip {
        display: inline;
        font-size: 30px;
    }
    .ip a:hover{
        color: white;
    }

    .ip a {
        color: white;
    }

    .ip #as{
        display: none;
    }

    .active #a5 {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        margin-top: 2px;
        background-color: rgb(0, 0, 0, .4);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
    }
}

.carousel2 {
    color: aliceblue;
    text-align: center;
    margin-top: 80px;
}

@media (max-width:990px) {
    #Previous3 {
        margin-top: 22rem;
        margin-left: 20rem;
    }

    #next3 {
        margin-top: 22rem;
        margin-right: 20rem;
    }

}

/* end header Section  */



/* start Services Section  */
.services1 {
    text-align: center;
    margin-top: 30px;
}

/* end services section  */


/* start About section  */
.About1 {
    margin-top: 10rem;
}

.About2 img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:990px) {
    .About2 img {
        margin-top: 10px;
        background-size: cover;
    }

}

@media (max-width:950px) {
    .carousel22 {
        width: 100px;
    }

}

/* End About section  */

/* Start Team  */
.team1 {
    text-align: center;
    margin-top: 5rem;
}

#team_img {
    background-size: cover;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 25px;
}

#team_h {
    text-align: center;
    color: white;
}

#team2 {
    background-color: #004445;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width:990px) {
    #team_img {
        margin-top: 7px;
    }
}

/* End Team  */

/* Start Contact Us */
.contact1 img {
  background-size: cover;
  width: 100%;
  height: 100%;
}
#contact9
{
    width: 90%;
    height: 4rem;
    margin-top: 1rem;
    padding: 5px;
}
/* End Contact Us */

/* Start Testimonial */
#Testimonial1{
    background-size: cover;
    width: 125px;
    height: 125px;
    border-radius: 7px;
}
@media (max-width:1000px) {
    #Previous4 {
        margin-top: 25rem;
        margin-left: 20rem;
    }

    #next4 {
        margin-top: 25rem;
        margin-right: 20rem;
    }

}
/* End Testimonial */

/* Start Footer  */
.Footer_section{
    margin-top: 50px;
    background-color: #004445;
    height: 100%;
    color: white;
    padding: 40px;
}
#footer2 a{
    margin: 0 10px;
}
#footer5{
    display: flex;
    flex-direction: column;
}
#footer5 a{
    color: white;
}
/* End Footer  */
